<p>Hello,</p>
<p>Your story have been voted by one of our user</p>
<p>To view more stories you can visit <a href = "http://www.pandsoft.com/users/home">View stories</a>.</br></p>
<p>Thanks</p>
<p>@teampandsoft</p>