<p>Hello,</p>
<p>Someone have commented on your story.</p>
<p>To view more stories you can visit <a href = "http://www.pandsoft.com/users/home">View stories</a>.</br></p>
<p>Thanks</p>
<p>@teampandsoft</p>