<!DOCTYPE html>
<body>
<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner" style="background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);background-size: 30%;">
                          <h3  style="font-family: 'Roboto Condensed', sans-serif;font-size: 20px;text-transform: uppercase;padding-bottom: 10px;">you got a Suggestion<sup>™</sup> <span style="color:#f48260;">♥</span>
                          </h3>
                          <p>Hello,</p>
					                 <p>Some one has commented on your story</p>
						                <p>To view more stories you can visit </br></p>
				
                          <div>
                            
                          </div>
                          <div>
                          <p class="text-center">
                    <a href="http://www.pandsoft.com/users/home" class="btn btn-success btn-outline-rounded green" style="padding: 12px 20px;margin: 20px 0;border: 2px solid transparent;border-radius: 25px;background-color: #5cb85c;color: #ffffff;"> view stories <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                </p>
                     
                    </div>
                     
                    
                      <div class="tab-pane fade" id="doner" style="position: relative;padding-top: 50px;">
               <div class="text-center">
                <i class="img-intro icon-checkmark-circle"></i>
                          </div>
                              <h3 class="narrow text-center" style="font-family: 'Roboto Condensed', sans-serif;font-size: 20px;text-transform: uppercase;padding-bottom: 10px;">Thanks for staying tuned! <span style="color:#f48260;">♥</span>Pandsoft</h3>
                            <p  style="width: 100%;margin: 10px auto;">
                       A place where you can share you private life being unknown, and can read different stories.
                          </p>
                              </div>
                            <div class="clearfix"></div>
                                </div>


</div>
</div>
</div>
</div>
</section>
</body>
</html>










