<div class="container">
  <div class="row">
    <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-body">                    
                    <h2>
                    
                    </h2>
                    <p>
                    See what you what you can do here... :)
                    </p>
                </div>
                <div class="panel-footer">

                <center><h1><i class="fa fa-hand-o-down"></i>
</h1></center>
  <div class="row">
    <div class="col-xs-12">
      <div class="offer offer-info">
        <div class="shape">
          <div class="shape-text">
            Life              
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
          <% if current_user.folders.exists? %>
            <% current_user.folders.each do |r|%>
                <%= r.name %>
                <% end %>
            <% else %>
            <%= link_to "Enter name of your life" , new_folder_path %>
            <% end %>
          </h3>
          <p>
                          
            <br> 
          </p>
        </div>
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-4">
      <div class="offer offer-success">
        <div class="shape">
          <div class="shape-text">
            phase              
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
            Phase of your life
          </h3>
          <p>
            Eg(Happy, Sad, inspirational..)
            <br> 
          </p>
        </div>
      </div>
    </div>
     <div class="col-xs-2">
      <h1>
      <center>
        <i class="fa fa-star"></i>
      </center>
      </h1>
    </div>
     <div class="col-md-3">
      <div class="offer offer-warning">
        <div class="shape">
          <div class="shape-text">
            Story               
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
            Heading
          </h3>
          <p>
           Description..
            <br> 
          </p>
        </div>
      </div>
    </div>
    

<div class="col-md-2">
      <div class="offer offer-warning">
        <div class="shape">
          <div class="shape-text">
            Story             
          </div>
        </div>
        <div class="offer-content">
          <h3 class="lead">
            Create 
          </h3>
          <p>
           a new story
            <br> 
          </p>
        </div>
      </div>
    </div>   
    </div>

                </div>
            </div>
        </div>
        
  </div>
</div>

  
 
  