
<div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li>
                        <a href="#home" data-toggle="tab" title="Create your life">
                            <span class="round-tabs three">
                                  <i class="fa fa-user"></i>
                            </span> 
                        </a>
                      </li>
                   
                    <li>
                       <a href="#" data-toggle="tab" title="Proceed">
                          <span class="round-tabs five">
                            <i class="fa fa-long-arrow-right"></i>
                          </span> 
                      </a>
                    </li>

                  <li>
                    <a href="#profile" data-toggle="tab" title="Create you Phase of Life">
                       <span class="round-tabs two">
                         <i class="fa fa-star-half-o"></i>
                        </span> 
                    </a>
                 </li>
                 
                  <li>
                     <a href="#" data-toggle="tab" title="Proceed">
                      <span class="round-tabs five">
                             <i class="fa fa-long-arrow-right"></i>
                     </span> 
                  </a>
                  </li>
                      
                  <li class = "active">
                  <a href="#messages" data-toggle="tab" title="Write an story">
                    <span class="round-tabs one">
                        <i class="fa fa-thumbs-up"></i>
                    </span> 
                  </a>
                </li>                     
                     </ul></div>

                     <div class="tab-content">
                      <div class="tab-pane fade " id="home">

                          <h3 class="head text-center">Welcome to Pandsoft<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                          <p class="narrow text-center">
                              Share your private life "Being Unknown"
                          </p>
                          <h2>
                           <p class="text-center">
                           <i class="fa fa-thumbs-up"></i>
                          </p>
                          </h2>
                      </div>
                      <div class="tab-pane fade" id="profile">
                             <h3 class="head text-center">Welcome to Pandsoft<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                          <p class="narrow text-center">
                              Share your private life "Being Unknown"
                          </p>
                         <h2> 
                          <p class="text-center">
                           <i class="fa fa-thumbs-up"></i>
                          </p>
                        </p>
                          </h2>
                      </div>
                      <div class="tab-pane fade in active" id="messages">
                          <h3 class="head text-center">Welcome to Pandsoft<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                          <p class="narrow text-center">
                              Share your private life "Being Unknown" and Read Strangers life story..!!
                          </p>
                          
                          <p class="text-center">
                            <a href="/folders" class="btn btn-success btn-outline-rounded green"> Create your Story <span style="margin-left:10px;" class="fa fa-send"></span></a>
                          </p>
                        </p>
                      </div>
                      
                      
<div class="clearfix"></div>
</div>

</div>
</div>
</div>
