<div class="container">
<% if current_user.email == 'sapandya92@yahoo.co.in' %>
<table class="table table-bordred table-striped">
<% @user.each do |u| %>
<tr>
	<td>
		<%= u.email %>
	</td>
	<td>
		<%= link_to "remove", u, :class => "btn btn-danger" ,:method => :get %>
	</td>
	<td>
		
	</td>
</tr>
<% end %>
</table>
<%else %>
not authorize
<% end %>
</div>