<% @user.folders.each do |f| %>
	<div class="well">
		<h1>Life</h1>
		<h1><%= f.name %> </h1>
	</div>
	<% f.phases.each do |p| %>
	<div class="span6 well">
		<h1>Phase</h1>
		<h2><%= p.name %></h2>
	</div>
	<% p.stories.each do |s| %>
	 <div class="well">
	 	<h1>Story</h1>
	 	 <h3><%= s.heading %></h3>
	 <h4><%= s.describtion %></h4>
	 </div>
	
		<% end %>
	<% end %>
<% end %>
